.ui-draggable{ 
padding:10px; 
margin: 10px;
border:2px solid black;
}
.ui-draggable-dragging{ 
border: 1px solid gray;
 padding: 0.3em;
 background: #eee; 
}
  .list{
	  display:block;
	  padding:10px;margin: 10px;
	  border:2px solid black;
	  width:50px;
	  }
  .block{
	  display:inline;
	  }
 
#init{
display: inline;
} 
body{
	background-color: #424242;
	color: #eee;
	font-size: 14px;
	font-family: "Verdana",Geneva,sans-serif;
	margin: 0;
	padding: 0;
}
.colorRed{
	border-color: #E53935;
	border-width: 5px;
	padding:0px;
	border-radius: 5px;
}
.colorBlue{
	border-color: #2196F3;
	border-width: 5px;
	padding:0px;
	border-radius: 5px;
}
.colorGreen{
	border-color: #4CAF50;
	border-width: 5px;
	padding:0px;
	border-radius: 5px;
}
.divScroll
{
    width:80%;
    height:120px;
    overflow-x:scroll;
	overflow-y: hidden;
    white-space:nowrap;
	
}  
.formGroup{
display: inline;
}


::-webkit-scrollbar {
    width:12px;
	height:2px;
	-webkit-overflow-scrolling: touch;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background: rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}


 
